body {
	/*background: url('../images/travel_header.jpg') top left no-repeat;
	background-size: 100% auto;*/
	width: 100%;

}

.container {
	/*max-width: 1000px;
	margin: 10px auto;*/
	min-height: 500px;
}

.middle{

}

.bottom{
	color: #727272;
	background-color: #292F36;
	padding: 30px 0;
	margin-top: 20px;
}
.bottom .footer{
	max-width: 1000px;
	margin: 10px auto;
	overflow: hidden;
}
.bg-white {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding:20px;
}

.user-info {
	position: absolute;
	top: 15px;
	right: 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-default {
    margin-bottom: 20px;
}

.success {
}